.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: #ffffff;
  padding: 20px;
}

.formWrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: #000;
  font-weight: 400;
}

.inputGroup {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #555;
}

.input {
  width: 100%;
  padding: 0.5rem 0.2rem;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  background: transparent;
  transition: border-color 0.2s;
  color: #000;
}

.input:focus {
  border-bottom: 1px solid #000;
}

.button {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-top: 1.5rem;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
}

.linkText {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}