.announcementBar {
  overflow: hidden;
  white-space: nowrap;
  background-color: #f5f5f5;
  color: #000;
  font-size: 14px;
  padding: 8px 0;
  position: relative;
}

.scrollText {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 8s linear infinite;
  font-family: Helvetica, sans-serif;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}