.produkSale {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.produkSale h2 {
  margin-bottom: 20px;
  font-size: 2em;
  text-align: left;
}

.produkContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.produkCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  background-color: #fff;
  height: 100%;
  transition: transform 0.3s ease;
}

.produkCard:hover {
  transform: translateY(-5px);
}

.produkImageLink {
  text-decoration: none;
  color: inherit;
  flex-grow: 1;
}

.produkCard img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.produkCard h3, .produkCard .price {
  margin: 0;
  padding: 10px 15px 0 15px;
}

.produkCard h3 {
  font-size: 1.2em;
  margin-top: 10px;
}

.originalPrice {
  text-decoration: line-through;
  color: #888;
  margin-left: 8px;
}

.addToCart {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 15px;
  text-decoration: none;
}

.addToCart:hover {
  background-color: #333;
}

@media (min-width: 992px) {
  .produkContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}