.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
  min-height: 80vh;
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5rem;
}

.inputGroup {
  margin-bottom: 1.5rem;
  width: 100%;
}

.inputGroup label {
  display: block;
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem 0.2rem;
  font-size: 1rem;
  
  border: none;
  background-color: transparent;
  
  border-bottom: 1px solid #ccc;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.registerButton {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: background-color 0.2s, color 0.2s;
}

.registerButton:hover {
  background-color: #000;
  color: #fff;
}