body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #000;
  background: #fff;
}

main {
  padding-top: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.announcement-bar {
  overflow: hidden;
  white-space: nowrap;
  background-color: #f5f5f5;
  color: #000;
  font-size: 14px;
  padding: 8px 0;
  position: relative;
}

.announcement-bar p {
  margin: 0;
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 15s linear infinite;
  font-family: Helvetica, sans-serif;
}

.announcement-bar p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px;
  background: #964B00 ;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}